{% load static %}
<!-- EvesBay Landing Page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvesBay</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'imgs/core/favicon.png' %}">
    <!-- End of Favicon -->

    <!-- CSS -->

    <!-- Materialize css cdn link -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <!-- End of materialize css cdn link -->

    <!-- Custom css link -->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <!-- End of custom css link -->

    <!-- END OF CSS -->

    <!-- FONTS -->

    <!-- Material Icons -->
    <link rel="stylesheet" href="{% static 'fonts/icon.css' %}">
    <!-- End of material icons -->

    <!-- Default Fonts -->
    <link rel="stylesheet" href="{% static 'fonts/default.css' %}">
    <!-- End of default Fonts -->

    <!-- Fontawesome fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- End of Fontawesome fonts -->

    <!-- END OF FONTS -->

</head>

<body>



    {% if messages %} {% for message in messages %}
    <div class="messageBox">{{ message }}</div>{% endfor %} {% endif %} {% block content %} {% endblock content %}



    <!-- End of Main Section -->

    <!-- JS -->

    <!-- Jquery js cdn link -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- End of jquery js cdn link -->

    <!-- Animation js cdnlink -->
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/TimelineMax.min.js' %}"></script>
    <!-- End of animation js cdnlink -->

    <!-- Materialize js cdn link -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <!-- End of materialize js cdn link -->

    <!-- Custom js link -->
    <script src="{% static 'js/auth.js' %}"></script>
    <!-- End of custom js link -->

    <!--END OF JS  -->
</body>

</html>