{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Login To Your Account{% endblock titlecontent %} {% block desktopcontent %} {% load static %}
<!-- Desktop Content -->
<section class="desktop-content">

</section>
<!-- End of Desktop Content -->
{% endblock desktopcontent %}

<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">
    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->

    <div class="padding-xs"></div>
    <div class="main-mobile-content">
        <div class="heading-main">Login</div>
        <span class="heading-helper">Welcome Back. Login to resume session</span>
        <br><br>
        <a href="" class="full-width-btn waves-effect btn white color-main"><img src="{% static 'imgs/icons/google.png' %}" class="google-img left" alt=""> Continue With Google</a>
        <br><br>
        <div class="heading-main-x">
            Login with Email Instead
        </div>
        <form method="POST">
            <!-- Form Token -->
            {% csrf_token %}
            <!-- End of Form Token -->
            {{ form.as_p }}
            <i class="material-icons passwordToggle" id="passA">visibility</i>
            <i class="material-icons passwordToggle hide" id="passAx">visibility_off</i>
            <a href="{% url 'auth:password_reset' %}" class="x-link">Forgot Password ?</a>
            <button type="submit" class="right btn waves-effect default-btn z-depth-0">Login</button>
            <br><br><br>
            <p class="form-x-text">I don't have an account. <a href="{% url 'auth:user_register' %}">Get One</a> Free Today.</p>
        </form>
    </div>
</setion>
<script type="text/javascript">
    const pass = document.getElementById("passA");
    const passx = document.getElementById("passAx");
    const passwordx = document.getElementById('id_password')

    pass.addEventListener("click", () => {
        passwordx.type = "text"
        pass.classList.add('hide')
        passx.classList.remove('hide')
    })
    passAx.addEventListener("click", () => {
        passwordx.type = "password"
        pass.classList.remove('hide')
        passx.classList.add('hide')
    })
</script>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->