{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Profile{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<section class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}
    <div class="padding-xs"></div>
    <div class="main-mobile-content">
        <div class="suggested-title">About Evesbay</div>
        <br>
        <img src="{% static 'imgs/core/about-us.svg' %}" style="width: 100% !important;" class="materialboxed" alt="">
        <br>
        <span class="ticket-x-t">
            Our Story
        </span>
        <p class="ticket-x">
            Welcome to Evesbay Inc, your number one source for all things ticket. We're dedicated to providing you the very best of event tickets, with an emphasis on stress-relief, simplicity and customer satisfaction. Founded in 2020, Evesbay Inc has come a long
            way from its beginnings in Accra, Ghana. When Evesbay first started out, the passion for web development drove the founders to start their own business. We hope you enjoy our services as much as we enjoy offering them to you. If you have any
            questions or comments, please don't hesitate to contact us.
        </p>
        <span class="ticket-x-t">
            Aims and Ambition
        </span>
        <p class="ticket-x">
            Ever thought that your tickets can get missing after purchase? Evesbay aims at eliminating hard copy tickets to events in the entertainment industry. The idea of using QR-based tickets makes it very simple to use and the risk of loosing the ticket is
            very low since it is QR. Individuals go through a lot of stress just to purchase a ticket and Evesbay aims to make purchasing tickets very simple from your own comfort zone.
        </p>
        <span class="ticket-x-t">
            Goals and Targets
        </span>
        <p class="ticket-x">
            Hardwork, determination and persistence leads to success. Evesbay targets loyal customers and event organizers to help them expand their reach to audience and attendees at their events. With the QR-based tickets initiative, purchasing tickets will be
            stress-free and simple. A user-friendly UI experience in addition helps users to use Evesbay very easily.
        </p>
        <span class="ticket-x-t">
            Meet The Team
        </span>
        <div class="pad-x"></div>
        <div class="card z-depth-0">
            <div class="card-content-x">
                <div class="card-image">
                    <img src="/media/profile/profile-images/A88A849D-2F7F-4228-83CD-20FDBFB7D4C3.jpeg" alt="">
                </div>
                <br>
                <a href="{{ ticket.organizer.facebook }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-facebook color-main"></i></a>
                <a href="{{ ticket.organizer.instagram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-instagram color-main"></i></a>
                <a href="{{ ticket.organizer.twitter }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-twitter color-main"></i></a>
                <a href="{{ ticket.organizer.telegram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-telegram color-main"></i></a>
                <span class="sugg-date-ex">Co - Founder</span><br>
                <p class="sugg-title-ex">Mark Junior Ameyaw</p>
                <span class="sugg-organizer-ex">{{ ticket.organizer.email }}</span>
            </div>
        </div>
        <br>
        <div class="card z-depth-0">
            <div class="card-content-x">
                <div class="card-image">
                    <img src="/media/profile/profile-images/A88A849D-2F7F-4228-83CD-20FDBFB7D4C3.jpeg" alt="">
                </div>
                <br>
                <a href="{{ ticket.organizer.facebook }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-facebook color-main"></i></a>
                <a href="{{ ticket.organizer.instagram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-instagram color-main"></i></a>
                <a href="{{ ticket.organizer.twitter }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-twitter color-main"></i></a>
                <a href="{{ ticket.organizer.telegram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-telegram color-main"></i></a>
                <span class="sugg-date-ex">Co - Founder</span><br>
                <p class="sugg-title-ex">Stephen Kofi Amponsah</p>
                <span class="sugg-organizer-ex">{{ ticket.organizer.email }}</span>
            </div>
        </div>
        <br>
        <div class="card z-depth-0">
            <div class="card-content-x">
                <div class="card-image">
                    <img src="/media/profile/profile-images/A88A849D-2F7F-4228-83CD-20FDBFB7D4C3.jpeg" alt="">
                </div>
                <br>
                <a href="{{ ticket.organizer.facebook }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-facebook color-main"></i></a>
                <a href="{{ ticket.organizer.instagram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-instagram color-main"></i></a>
                <a href="{{ ticket.organizer.twitter }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-twitter color-main"></i></a>
                <a href="{{ ticket.organizer.telegram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-telegram color-main"></i></a>
                <span class="sugg-date-ex">Co - Founder</span><br>
                <p class="sugg-title-ex">Richmond Gyekye Pinamang</p>
                <span class="sugg-organizer-ex">{{ ticket.organizer.email }}</span>
            </div>
        </div>
        <br>
        <div class="card z-depth-0">
            <div class="card-content-x">
                <div class="card-image">
                    <img src="/media/profile/profile-images/A88A849D-2F7F-4228-83CD-20FDBFB7D4C3.jpeg" alt="">
                </div>
                <br>
                <a href="{{ ticket.organizer.facebook }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-facebook color-main"></i></a>
                <a href="{{ ticket.organizer.instagram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-instagram color-main"></i></a>
                <a href="{{ ticket.organizer.twitter }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-twitter color-main"></i></a>
                <a href="{{ ticket.organizer.telegram }}" style="padding-left: 15px; padding-top: 10px;" class="right white z-depth-0"><i class="fa fa-telegram color-main"></i></a>
                <span class="sugg-date-ex">Co - Founder</span><br>
                <p class="sugg-title-ex">Selase Bredzei</p>
                <span class="sugg-organizer-ex">{{ ticket.organizer.email }}</span>
            </div>
        </div>
    </div>
</section>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->