{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Profile{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<section class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}
    <div class="padding-xs"></div>
    <div class="main-mobile-content">
        <div class="suggested-title">Terms and Conditions</div>
        <br>
        <img src="{% static 'imgs/core/tandc.svg' %}" style="width: 100% !important;" class="materialboxed" alt="">
        <br>

        <span class="ticket-x-t">Terms and Conditions</span>

        <p>This website and any mobile application (collectively, this "Site") is owned by EVESBAY. We are providing you with access to this Site and our online store (together, our "Services") subject to the following terms and conditions. By browsing,
            accessing, using, registering for or purchasing merchandise on this Site or otherwise using our Services, you are agreeing to all of the following terms and conditions, including any policies referred to herein (collectively, these "Terms").
            So, please read these Terms carefully. We reserve the right to change this Site and these Terms at any time. If you are unwilling to be bound by these Terms, you should not browse, access, use, register for or purchase merchandise from the
            Site. You represent and warrant that you are at least 18 years old or visiting this Site under the supervision of a parent or guardian.</p>


        <span class="ticket-x-t">Cookies</span>

        <p>We employ the use of cookies. By accessing Evesbay, you agreed to use cookies in agreement with the Evesbay's Privacy Policy.</p>

        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising
            partners may also use cookies.</p>


        <span class="ticket-x-t">License</span>

        <p>Unless otherwise stated, Evesbay and/or its licensors own the intellectual property rights for all material on Evesbay. All intellectual property rights are reserved. You may access this from Evesbay for your own personal use subjected to restrictions
            set in these terms and conditions.</p>

        <p>You must not:</p>
        <ul class="browser-default">
            <li>Republish material from Evesbay</li>
            <li>Sell, rent or sub-license material from Evesbay</li>
            <li>Reproduce, duplicate or copy material from Evesbay</li>
            <li>Redistribute content from Evesbay</li>
        </ul>

        <p>This Agreement shall begin on the date hereof.</p>

        <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Evesbay does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not
            reflect the views and opinions of Evesbay,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Evesbay shall not be liable for the
            Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

        <p>Evesbay reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

        <p>You warrant and represent that:</p>

        <ul class="browser-default">
            <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
            <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
            <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
            <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
        </ul>

        <p>You hereby grant Evesbay a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>


        <span class="ticket-x-t">Hyperlinking to our Content</span>

        <p>The following organizations may link to our Website without prior written approval:</p>

        <ul class="browser-default">
            <li>Government agencies;</li>
            <li>Search engines;</li>
            <li>News organizations;</li>
            <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
            <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
        </ul>

        <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products
            and/or services; and (c) fits within the context of the linking party’s site.</p>

        <p>We may consider and approve other link requests from the following types of organizations:</p>

        <ul class="browser-default">
            <li>commonly-known consumer and/or business information sources;</li>
            <li>dot.com community sites;</li>
            <li>associations or other groups representing charities;</li>
            <li>online directory distributors;</li>
            <li>internet portals;</li>
            <li>accounting, law and consulting firms; and</li>
            <li>educational institutions and trade associations.</li>
        </ul>

        <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit
            to us from the visibility of the hyperlink compensates the absence of Evesbay; and (d) the link is in the context of general resource information.</p>

        <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context
            of the linking party’s site.</p>

        <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Evesbay. Please include your name, your organization name, contact information as well as
            the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>

        <p>Approved organizations may hyperlink to our Website as follows:</p>

        <ul class="browser-default">
            <li>By use of our corporate name; or</li>
            <li>By use of the uniform resource locator being linked to; or</li>
            <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site.</li>
        </ul>

        <p>No use of Evesbay's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>

        <span class="ticket-x-t">IFrame</span>

        <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

        <span class="ticket-x-t">Content Liability</span>

        <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene
            or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

        <span class="ticket-x-t">Your Privacy</span>

        <p>Please read Privacy Policy</p>

        <span class="ticket-x-t">Reservation of Rights</span>

        <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking
            policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

        <span class="ticket-x-t">Restrictions on Rights to Use</span>

        <p>You agree you shall not (and you agree not to allow any other individual or entity using your password and identification to): download, modify, reproduce, adapt, translate, reverse engineer, create derivative works based upon, publicly display,
            sell, rent, license, or in any way commercially exploit any portion of this Site, except and to the extent expressly permitted under these Terms; remove any copyright, trademark or other proprietary rights notice contained in or on the Site;
            use any robot, spider, site search/retrieval application, or other device to retrieve or index any portion of this Site; collect any information about other users (including usernames and/or email addresses) for any purpose other than to solicit
            and/or share reviews with other users; reformat or frame any portion of any Web pages that are part of this Site; create user accounts by automated means or under false or fraudulent pretenses; create or transmit to other users unsolicited
            electronic communications, such as "spam," or otherwise interfere with other users' enjoyment of the Site; submit to this Site any content that falsely states or implies that such content is sponsored or endorsed by us; transmit or upload
            to this Site any item containing or embodying any virus, worm, defect, malware, Trojan horse, software bomb or other feature designed to damage or degrade in any manner the performance of this Site, any other Web site, or any computer or other
            device or system, or the enjoyment of this Site by any user; use this Site to violate the security of or gain unauthorized access to any computer or computer network or other device or system (including unauthorized attempts to discover passwords
            or security encryption codes); submit to this Site any content that is unlawful or facilitates, constitutes, promotes or encourages illegal activity; or otherwise use the Site to transfer or store illegal material, including any material deemed
            threatening or obscene; copy or store any User Content offered on this Site other than for your personal, non-commercial use; take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large
            data or traffic load on this Site or the IT infrastructure used to operate and make this Site available; or use this Site and/ or any User Content, intentionally or unintentionally, to violate any applicable local, state, federal or international
            law. We have no obligation to monitor any user conduct on this Site, and We reserve the right and have absolute discretion to monitor any user conduct on this Site at any time and for any reason without notice.
        </p>

        <span class="ticket-x-t">Purchases on this Site</span>

        <p>You agree that all of your transactions with or through this Site may, at Our option, be conducted electronically from start to finish. If We decide to proceed non-electronically, those transactions will still be governed by the remainder of these
            Terms unless you enter into different terms provided by us. You are responsible to print or make an electronic a copy of these Terms and any other contract or disclosure that we are required to provide to you. The risk of loss and title for
            items purchased by you on this Site pass to you upon our delivery of the items to the carrier pursuant to a shipment contract. We charge sales tax for merchandise ordered on this Site based on the applicable state sales tax rate of the location
            to which the order is being shipped. When We ship to you or per your directions to another person, you agree to pay the shipping and any handling charges shown on this Site when your order is placed. We reserve the right to increase, decrease
            and add or eliminate charges from time to time and without prior notice, so you agree to check all charges before placing an order or signing up for a service. Any shipping or handling charges may or may not reflect actual costs. Only valid
            credit cards or other payment method acceptable to us may be used. By submitting your order, you represent and warrant that you are authorized to use the designated card or method and authorize us to charge your order (including taxes, shipping,
            handling and any other amounts described on the Sites) to that card or other method. If the card (or other method) cannot be verified, is invalid, or is not otherwise acceptable, your order may be suspended or cancelled automatically. All
            returns are governed by our Return Policy, which can be found at the privacy policy. We attempt to be as accurate as possible and eliminate errors on this Site; however, We do not warrant that any product, service, description, photograph,
            pricing or other information is accurate, complete, reliable, current or error-free. In the event of an error, whether on this Site, in an order confirmation, in processing an order, delivering a product or service or otherwise, We reserve
            the right to correct such error and revise your order accordingly if necessary (including charging the correct price) or to cancel the order and refund any amount charged. Your sole remedy in the event of such error is to cancel your order
            and obtain a refund. All items are subject to availability and We reserve the right to impose quantity limits on any order, to reject all or part of an order and to discontinue products or services without notice, even if you have already
            placed your order. All prices are subject to change without notice. We reserve the right to refuse or cancel any orders placed for products and/or services which the sale or use of such product and/or service in your state or jurisdiction
            is restricted or prohibited.
        </p>

        <span class="ticket-x-t">Disclaimer</span>

        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>

        <ul class="browser-default">
            <li>limit or exclude our or your liability for death or personal injury;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ul>

        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract,
            in tort and for breach of statutory duty.</p>

        <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
    </div>
</section>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->