{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Profile{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<section class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}
    <div class="padding-xs"></div>
    <div class="main-mobile-content">
        <div class="suggested-title">Frequently Asked Questions</div>
        <br>
        <img src="{% static 'imgs/core/faq.svg' %}" style="width: 100% !important;" class="materialboxed" alt="">
        <br>
    </div>
    <ul class="collapsible z-depth-0" style="padding: 20px; border: none;">
        <li style="border: none !important;" class="active">
            <div class="collapsible-header"><i class="material-icons">help_outline</i>How do i scan tickets i have bought</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quisquam fuga earum blanditiis, ab eius accusantium itaque mollitia praesentium voluptatibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quis eum cum, alias cupiditate dignissimos architecto deleniti quod amet atque impedit nihil molestiae nulla quaerat, esse officiis voluptas sint, earum eos blanditiis est voluptatum? Deserunt assumenda aliquid voluptate, quaerat dolore nesciunt! Quaerat, sapiente. Quia similique officiis magni praesentium, nemo voluptatibus! esse voluptates animi deleniti tempore ea iusto quis corporis optio.</span></div>
        </li>
        <li style="border: none">
            <div class="collapsible-header"><i class="material-icons">help_outline</i>Can anyone at all organize an event</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quisquam fuga earum blanditiis, ab eius accusantium itaque mollitia praesentium voluptatibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quis eum cum, alias cupiditate dignissimos architecto deleniti quod amet atque impedit nihil molestiae nulla quaerat, esse officiis voluptas sint, earum eos blanditiis est voluptatum? Deserunt assumenda aliquid voluptate, quaerat dolore nesciunt! Quaerat, sapiente. Quia similique officiis magni praesentium, nemo voluptatibus! esse voluptates animi deleniti tempore ea iusto quis corporis optio.</span></div>
        </li>
        <li style="border: none">
            <div class="collapsible-header"><i class="material-icons">help_outline</i>Who are the developers of Evesbay</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quisquam fuga earum blanditiis, ab eius accusantium itaque mollitia praesentium voluptatibus Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quis eum cum, alias cupiditate dignissimos architecto deleniti quod amet atque impedit nihil molestiae nulla quaerat, esse officiis voluptas sint, earum eos blanditiis est voluptatum? Deserunt assumenda aliquid voluptate, quaerat dolore nesciunt! Quaerat, sapiente. Quia similique officiis magni praesentium, nemo voluptatibus! esse voluptates animi deleniti tempore ea iusto quis corporis optio.</span></div>
        </li>
    </ul>
</section>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->