{% load static %}
<footer class="desktop-footer">
    <div class="desktop-footer-content">
        <div class="row">
            <div class="col s3">
                <div class="heading-main white-text">Evesbay</div>
                <br>
                <a href="{% url 'support:about' %}" class="footer-link">About us</a>
                <a href="{% url 'support:contact' %}" class="footer-link">Contact us</a>
                <a href="" class="footer-link">Newsroom</a>
                <a href="" class="footer-link">Browse Events</a>
                <a href="" class="footer-link">Universal Terms and Condition</a>
                <a href="" class="footer-link">Privacy Policy</a>
            </div>
            <div class="col s3">
                <div class="heading-main white-text">Support</div>
                <br>
                <a href="" class="footer-link">Community</a>
                <a href="" class="footer-link">Report Abuse</a>
                <a href="" class="footer-link">Contact Us</a>
                <a href="" class="footer-link">How to Use QR Codes Based Tickets</a>
                <a href="" class="footer-link">Become an Organizer</a>
            </div>
            <div class="col s3">
                <div class="heading-main white-text">Accounts</div>
                <br>
                <a href="" class="footer-link">My Evesbay Account</a>
                <a href="" class="footer-link">Check My Orders</a>
                <a href="" class="footer-link">View my ticket</a>
            </div>
            <div class="col s3">
                <div class="heading-main white-text">Shopping</div>
                <br>
                <a href="" class="footer-link">My Ticket Bag</a>
                <a href="" class="footer-link">Look for an Organzier</a>
                <a href="" class="footer-link">My Saved Tickets</a>
                <a href="" class="footer-link">Browse Events</a>
            </div>
        </div>
        <br>
        <div class="divider-desk"></div>
        <br><br>
        <div class="row">
            <div class="col s6">
                <img src="{% static 'imgs/core/logo-white.png' %}" style="width: 120px;" alt="">
                <br><br>
                <span class="white-text" style="font-family: Regular Font Medium">
                    Copyright © 2020 - 2020 EvesBay Community, GHN. All Rights Reserved.
                </span>
                <br><br>
                <span class="grey-text">Use of this Site is subject to express terms of use. By using this site, you signify that you agree to be bound by these Universal Terms of Service.</span>
            </div>
            <div class="col s6">
                <a href="" class="right white-text" style="margin-left: 30px;"><i class="fa fa-facebook"></i></a>
                <a href="" class="right white-text" style="margin-left: 30px;"><i class="fa fa-instagram"></i></a>
                <a href="" class="right white-text" style="margin-left: 30px;"><i class="fa fa-twitter"></i></a>
                <a href="" class="right white-text" style="margin-left: 30px;"><i class="fa fa-telegram"></i></a>
                <span class="white-text" style="font-family: Regular Font Medium">
                    Let's Get Social
                </span>
                <br><br>
                <div class="pad-x"></div>
                <a href="" class="footer-link">info@snapyticket.com</a>
                <a href="" class="footer-link">+(233) 54 253-2383</a>
            </div>
        </div>
    </div>
</footer>