{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Welcome to your #1 Ticketting PlatForm{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}

    <div class="padding-xs">
        <div class="main-mobile-content">
            <div class="heading-main">All Ordered Tickets</div>
            <div class="pad-x"></div>
            <!-- Search Results -->
            <br> {% for ticket in all_tickets %}
            <div class="sugg-title-ex">{{ticket.ticket.title}}</div>
            <div class="pad-x"></div>
            <span class="chip-x">{{ticket.ticket_type.variation}}</span> <span class="chip-x">Qty: X {{ticket.quantity}}</span>
            <!-- Break -->
            <br><br> {% for qr_image in ticket.ticketitemqrimage_set.all %}
            <div class="qr-container">
                <div style="width: 100%; height: 250px; background:var(--main-black); position: absolute; opacity: .5"></div>
                <img src="{{qr_image.ticket_item_qr_image.url}}" style="width: 112% !important; height: 250px; object-fit: cover; margin-left: -20px;" alt="">
                <a href="{{qr_image.ticket_item_qr_image.url}}" class="btn default-btn-xs z-depth-0" style="position: absolute; top: 100px; left: 90px;">Expand Ticket</a>
            </div>
            {% endfor%}
            <div class="divider"></div>
            <br> {% empty %}
            <br>
            <center>
                <img src="{% static 'imgs/core/notfound.svg' %}" class="responsive-img" alt="">
            </center>
            <br>
            <div class="center-align">
                Sorry, You Do not have any Order <br><br>
                <a href="{% url 'core:home' %}" class="btn default-btn-xs z-depth-0 waves-effect">Browse</a>
            </div>
            {% endfor %}
            <!-- End of Search Results -->
        </div>
        <br><br>
    </div>
</setion>
{% include 'core-snippets/mobile-footer.html' %} {% endblock mobilecontent%}
<!-- Endblock mobile content  -->