{% extends 'base.html' %}

{% block content %}
<h3> Welcome to your profile</h3>
<bolder>Name: {{ request.user.username}}<bolder>
<hr>
<bolder>Email: {{request.user.email}}<bolder>
<hr>
<bolder>Phone: {{request.user.phone}}<bolder>
<br><br>
<bolder>Is organizer: {{request.user.is_organizer}}<bolder>
<hr>
{% if request.user.profile_image %}
Profile Photo: <img src="{{request.user.profile_image.url}}" width="100px;" height="100px;"</font>
{% else %}
<br><br><hr>
<a href="{% url 'profile:update'%}">Choose a Profile picture</a>
{% endif %}
<br>
<br>
<a href="{% url 'auth:user_logout'%}">Logout</a>  
<a href="{% url 'profile:password_change'%}">Change Password</a> 
<a href="{% url 'profile:update'%}">Update Profile</a>
{% endblock content %}

