{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Welcome to your #1 Ticketting PlatForm{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}

    <div class="padding-xs">
        <div class="main-mobile-content">
            <div class="heading-main">My Orders</div>
            <div class="pad-x"></div>
            <!-- Search Results -->
            {% for bag in ordered_ticket_bag %}
            <div class="card z-depth-0">
                <div class="card-image">
                    <img src="{% static 'imgs/core/bag.png' %}" class="suggested-img">
                </div>
                <div class="card-content-x">
                    <p class="suggested-date">{{ bag.created_on }}<span onclick="M.toast({html: 'Copied To ClipBoard'})" class="right" style="font-size: 12px; font-family: Regular Font Medium; color: var(--main-black); transform: translateY(4px); border-left: 2px solid var(--main-black); padding-left: 10px;">{{ bag.order_ref_code }}</span></p>
                    <a href="{{ bag.get_absolute_url }}" class="btn default-btn-xs z-depth-0">See Tickets</a>
                </div>
            </div>
            <br> {% empty %}
            <br>
            <center>
                <img src="{% static 'imgs/core/emptyorder.svg' %}" class="responsive-img" style="height: 300px;" alt="">
            </center>
            <br>
            <div class="center-align">
                Sorry, You Do not have any Order <br><br>
                <a href="{% url 'core:home' %}" class="btn default-btn-xs z-depth-0 waves-effect">Browse</a>
            </div>
            {% endfor %}
            <!-- End of Search Results -->
        </div>
        <br><br>
        <br><br>
    </div>
</setion>
{% include 'core-snippets/mobile-footer.html' %} {% endblock mobilecontent%}
<!-- Endblock mobile content  -->