{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Profile{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}
    <br><br>
    <form>
        <div class="main-mobile-content">
            <br>
            <div class="price-content-wrapper">
                <div class="price-content">
                    GH₵{{ total_revenue }}.00
                </div>
            </div>
            <img src="{% static 'imgs/core/price.png' %}" style="width: 100%; height: 180px" alt="">
            <div class="pad-x"></div>
            <div class="heading-main">Request Payment</div>
            <div class="" style="line-height: 30px;">
                <p class="orange-text text-darken-3"><i class="material-icons left" style="font-size: 17px; transform: translateY(5px)">warning</i> Note that requested payments can only be processed after the event is over.</p>
                    <p>
                        <input type="text" name="" value="" placeholder="Your Organizer ID">
                    </p>
                    <p>
                        <input type="text" name="" value="" placeholder="Your Ticket Code">
                    </p>
                    <p id="bankTrans">
                        <input type="checkbox" checked class="filled-in" id="bankInput">
                        <span>Receive payment with Bank</span>
                    </p>
                    <div class="bankForm" style="transition: .5s;">
                        <p>
                            <input type="text" name="" value="" placeholder="Account Number">
                        </p>
                        <p>
                            <input type="text" name="" value="" placeholder="Name on Account">
                        </p>
                    </div>
                    <p id="momoTrans">
                        <input type="checkbox" class="filled-in" id="momoInput" checked>
                        <span>Receive payment with Mobile Money</span>
                    </p>
                    <div style="position: fixed; opacity: 0; transition: .5s; transform: translateY(100px) rotateX(160deg)" class="momoForm">
                        <p>
                            <input type="text" name="" value="" placeholder="Mobile Money Number">
                        </p>
                        <p>
                            <input type="text" name="" value="" placeholder="Name on Account">
                        </p>
                    </div></div>
            <br><br><br><br>
        </div>
        <div class="tit-actions">
            <div class="tit-actions-content">
                <button type="submit" class="btn full-width-btn bg-core waves-effect white-text z-depth-0">Request Payment</button>
            </div>
        </div>
    </form>
</setion>
<script type="text/javascript">
    const bankTrans = document.querySelector('#bankTrans')
    const bankInput = document.querySelector('#bankInput')
    const momoInput = document.querySelector('#momoInput')
    const bankForm = document.querySelector('.bankForm')
    const momoTrans = document.querySelector('#momoTrans')
    const momoForm = document.querySelector('.momoForm')
    momoInput.attributes.removeNamedItem('checked')

    momoTrans.addEventListener("click", () => {
        bankForm.style.position = 'fixed';
        bankForm.style.opacity = '0';
        bankForm.style.transform = 'translateY(100px) rotateX(160deg)';

        momoForm.style.position = 'relative';
        momoForm.style.opacity = '1';
        momoForm.style.transform = 'translateY(0) rotateX(0)';
        bankInput.removeAttribute('checked')
        momoInput.setAttribute('checked', "checked")
    })

    bankTrans.addEventListener("click", () => {
        bankForm.style.position = 'relative';
        bankForm.style.opacity = '1';
        bankForm.style.transform = 'translateY(0) rotateX(0)';

        momoForm.style.position = 'fixed';
        momoForm.style.opacity = '0';
        momoForm.style.transform = 'translateY(100px) rotateX(160deg)';
        bankInput.setAttribute('checked', 'checked')
        momoInput.removeAttribute('checked')
    })
</script>
{% endblock mobilecontent %}
<!-- Endblock mobile content  -->