{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Profile{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<section class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}
    <br><br>
    <div class="tit-actions">
        <div class="tit-actions-content">
            <a href="{% url 'organizer:request-payment' event.slug %}" class="btn full-width-btn bg-core white-text waves-effect z-depth-0">Request Payment</a>
        </div>
    </div>
    <div class="main-mobile-content">
        <br>
        <div class="price-content-wrapper">
            <div class="price-content">
                GH₵{{ total_revenue }}.00
            </div>
        </div>
        <img src="{% static 'imgs/core/price.png' %}" style="width: 100%; height: 180px" alt="">
        <div class="pad-x"></div>
        <div class="heading-main">Sales History</div>
        <p style="margin-top: 0; color: #68739D">History of ticket sales</p>
        {% for sale in sales %}
        <a href="" class="color-main">
            <div class="sales-history-container">
                <div class="sales-history-box">
                    <div class="sales-img-container">
                        <div class="sales-img-overlay">
                            {% if sale.user.profile_image %}
                            <img src="{{ sale.user.profile_image.url }}" class="sales-img" alt=""> {% else %}
                            <img src="{% static 'imgs/icons/user.png' %}" class="sales-img" alt=""> {% endif %}
                        </div>
                    </div>
                    <div class="sales-det-container">
                        <div class="sales-name">{{ sale.user.username }}</div>
                        {% if sale.user.is_organizer %}
                        <p class="sales-status">Organzier</p>
                        {% else %}
                        <p class="sales-status">Regular User</p>
                        {% endif %}
                    </div>
                    <div class="sales-amount-container">
                        <div class="sales-amount">₵{{ sale.ticket_item_price }}.00</div>
                        <p class="sales-status">Successful</p>
                    </div>
                </div>
            </div>
        </a>
        {% empty %}
        <br>
        <center>
            <img src="{% static 'imgs/core/emptybag.svg' %}" class="responsive-img" style="height: 300px;" alt="">
        </center>
        <br>
        <div class="center-align">
            Sorry, No one has bought your ticket yet <br><br>
        </div>
        {% endfor %}
        <br><br><br>
    </div>
    <div class="main-mobile-content">
    </div>
</section>
{% endblock mobilecontent %}
<!-- Endblock mobile content  -->