<footer class="footer-section full-height">
    <div class="content-x">
        <div class="wrapper-x">
            <div class="row">
                <div class="col s3">
                    <div class="footer-heading">About Evesbay</div>
                    <div class="footer-links-container">
                        <a href="" class="footer-link waves-effect waves-dark">About us</a>
                        <a href="" class="footer-link waves-effect waves-dark">Contact us</a>
                        <a href="" class="footer-link waves-effect waves-dark">Newsroom</a>
                        <a href="" class="footer-link waves-effect waves-dark">Browse Events</a>
                        <a href="" class="footer-link waves-effect waves-dark">Universal Terms and Conditions</a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="footer-heading">Support Center</div>
                    <div class="footer-links-container">
                        <a href="" class="footer-link waves-effect waves-dark">Community</a>
                        <a href="" class="footer-link waves-effect waves-dark">Report Abuse</a>
                        <a href="" class="footer-link waves-effect waves-dark">Make an enquiry</a>
                        <a href="" class="footer-link waves-effect waves-dark">How to use qr tickets</a>
                        <a href="" class="footer-link waves-effect waves-dark">Help Center</a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="footer-heading">My Account</div>
                    <div class="footer-links-container">
                        <a href="" class="footer-link waves-effect waves-dark">My Evesbay Account</a>
                        <a href="" class="footer-link waves-effect waves-dark">My tickets</a>
                        <a href="" class="footer-link waves-effect waves-dark">My Discount Coupons</a>
                        <a href="" class="footer-link waves-effect waves-dark">Login to dashboard</a>
                        <a href="" class="footer-link waves-effect waves-dark">Get Started</a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="footer-heading">Events</div>
                    <div class="footer-links-container">
                        <a href="" class="footer-link waves-effect waves-dark">Concert hows</a>
                        <a href="" class="footer-link waves-effect waves-dark">Summit Shows</a>
                        <a href="" class="footer-link waves-effect waves-dark">Movie Shows</a>
                        <a href="" class="footer-link waves-effect waves-dark">Travel and Tour</a>
                        <a href="" class="footer-link waves-effect waves-dark">Gaming Shows</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-x">
            <div class="row">
                <div class="col s12">
                    <div class="footer-bottom">
                        <div class="col s6 pl-0">
                            <div class="white-text logo-main">Eves<span>Bay</span></div>
                            <p class="footer-c">
                                Copyright &copy; 2020 - 2020. EvesBay Community. GHN. All rights reserved.
                            </p>
                            <div class="footer-d">
                                Use of this site is subject to express terms of use. By using this site, you signify that you agree to the <a href="#" class="waves-effect waves-light underlined grey-text">Universal Terms and Conditions.</a>
                            </div>
                        </div>
                        <div class="col s1 pl-0"></div>
                        <div class="col s5 pl-0">
                            <div class="right">
                                <a href="" class="footer-social"><i class="fa fa-facebook-official"></i></a>
                                <a href="" class="footer-social"><i class="fa fa-twitter"></i></a>
                                <a href="" class="footer-social"><i class="fa fa-instagram"></i></a>
                                <a href="" class="footer-social"><i class="fa fa-google"></i></a>
                            </div>
                            <div class="footer-heading">Let's get social</div>
                            <div class="padd-t-4">
                                <a href="" class="footer-bottom-link">Terms and Conditions</a>
                                <a href="" class="footer-bottom-link">Privacy Policy</a>
                                <a href="" class="footer-bottom-link">Legacy</a>
                                <p class="contact-info">
                                    info@snapyticket.com <br> (030) 023-235-238
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>