{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Welcome to your #1 Ticketting PlatForm{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">
    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    <div class="nextSectionX">
        <div class="main-mobile-content bg-main">
            <div class="heading-main white-text">Get Started As A ..</div>
            <br>
            <div class="row">
                <div class="col s6 pl-0">
                    <div class="card z-depth-0 bg-main-x">
                        <div class="card-content">
                            <div class="center-align">
                                <img src="{% static 'imgs/core/buyer.png' %}" alt="">
                                <p class="text-0 white-text">Buyer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card z-depth-0">
                        <div class="card-content">
                            <div class="center-align">
                                <img src="{% static 'imgs/core/organizer.png' %}" alt="">
                                <p class="text-0  color-main">Organizer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="heading-main-helper-text grey-text text-lighten-2">
                To Give your a customized experience, we need to know your status
            </p>
            <div class="cv">
                <p>
                    <a href="#" class="white-text" id="closerNextB"><i class="material-icons left">arrow_back</i> Back</a>
                    <a href="{% url 'auth:user_login' %}" class="right btn default-btn z-depth-0 waves-effect">Login Instead</a>
                </p>
            </div>
        </div>
    </div>
    <div class="nextSection">
        <div class="IndexImgX">
            <img src="{% static 'imgs/core/relax.svg' %}" class="responsive-img" style="position: absolute; top: 100px;" alt="">
        </div>
        <div class="main-mobile-content cx">
            <div class="heading-main">Get your tickets with ease</div>
            <p class="heading-main-helper-text">
                Every compon Lorem, ipsum dolor. scaled to any size. Everything can be customised, from colour, to layouts, to
            </p>
            <p>
                <a href="#" class="closerNextA"><i class="material-icons left">arrow_back</i> Back</a>
                <a href="#" class="right btn default-btn z-depth-0 waves-effect" id="nextSecX">Next</a>
            </p>
        </div>
    </div>
    <div class="IndexImg">
        {% include 'core-snippets/indexImg.html' %}
    </div>
    <div class="main-mobile-content cx">
        <div class="heading-main">Designed and Built for All</div>
        <p class="heading-main-helper-text">
            Every compon Lorem, ipsum dolor. scaled to any size. Everything can be customised, from colour, to layouts, to
        </p>
        <p>
            <a href="{% url 'auth:user_login' %}" class="x-link">Skip to Login >></a>
            <a href="#" class="right btn default-btn z-depth-0 waves-effect" id="nextSec">Next</a>
        </p>
    </div>
    <br>
</setion>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->