 {% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Welcome to your #1 Ticketting PlatForm{% endblock titlecontent %}

<!-- Desktop Content -->
{% block desktopcontent %} {% load static %}

<section class="desktop-content">
    <header class="desktop-header">
        <nav class="desktop-nav z-depth-0 transparent">
            <a href="" class="brand-logo desktop color-main">
                <img src="{% static 'imgs/core/logo-white.png' %}" alt="" class="left">
            </a>
            <ul class="right">
                <li><a href="{% url 'ticket:tickets' %}"><i class="material-icons left" style="transform: translateY(5px); font-size: 19px;">search</i> Search</a></li>
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'core:home' %}">Browse Events</a></li>
                <li><a href="{% url 'auth:user_login' %}">Login</a></li>
                <li>
                    <a href="{% url 'auth:user_register' %}" class="btn z-depth-0 bg-core waves-effect">Get Started</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="heading-banner-content">
        <div class="header-banner">
            <div class="row">
                <div class="col s5">
                    <br><br><br>
                    <div class="heading-banner white-text">
                        Design, Built and Customized For All
                    </div>
                    <p class="heading-banner-helper-text">
                        Lorem ipscitationem maxime omnis vitae, ut ea ipsa evesapiente reiciend adipisicing elit. Porro soluta neque aliquam veniam dolorem impedit minima beatae? Molestiae, repudiandae similique animi incidunt delectus provident omnis iste beatae vitae culpa
                        sint!
                    </p>
                    <p>
                        <a href="{% url 'core:home' %}" class="btn default-btn-desk waves-effect z-depth-0">Browse Events</a>
                    </p>
                </div>
                <div class="col s1"></div>
                <div class="col s6">
                    <img src="{% static 'imgs/core/built.svg' %}" class="responsive-img" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner">
        <div class="row">
            <div class="col s6">
                <img src="{% static 'imgs/core/stressx.svg' %}" class="responsive-img" alt="">
            </div>
            <div class="col s1"></div>
            <div class="col s5">
                <br><br><br>
                <div class="heading-banner color-main">
                    No More Stress For Your Event Tickets
                </div>
                <p class="heading-banner-helper-text grey-text text-darken-2">
                    Lorem ipscitationem maxime omnis vitae, ut ea ipsa evesapiente reiciend adipisicing elit. Porro soluta neque aliquam veniam dolorem impedit minima beatae? Molestiae, repudiandae similique animi incidunt delectus provident omnis iste beatae vitae culpa
                    sint!
                </p>
                <p>
                    <a href="{% url 'auth:user_register' %}" class="btn default-btn-desk waves-effect z-depth-0">Let's Get started</a>
                </p>
            </div>
        </div>
    </div>
    <div class="heading-banner-content">
        <div class="header-banner">
            <div class="row">
                <div class="col s5">
                    <br><br><br><br>
                    <div class="heading-banner white-text">
                        A whole New Level For Event Organizer
                    </div>
                    <p class="heading-banner-helper-text">
                        Lorem ipscitationem maxime omnis vitae, ut ea ipsa evesapiente reiciend adipisicing elit. Porro soluta neque aliquam veniam dolorem impedit minima beatae? Molestiae, repudiandae similique animi incidunt delectus provident omnis iste beatae vitae culpa
                        sint!
                    </p>
                    <p>
                        <a href="{% url 'auth:user_register' %}" class="btn default-btn-desk waves-effect z-depth-0">Let's Get started</a>
                    </p>
                </div>
                <div class="col s1"></div>
                <div class="col s6">
                    <img src="{% static 'imgs/core/collection.png' %}" class="responsive-img" alt="">
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock desktopcontent %}
<!-- End of Desktop Content -->

<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">
    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    <div class="nextSectionX">
        <div class="main-mobile-content bg-main">
            <div class="heading-main white-text">Get Started As A ..</div>
            <br>
            <div class="row">
                <div class="col s6 pl-0" onclick="window.location='/auth/register'">
                    <div class="card z-depth-0" style="background: rgb(36, 33, 56)">
                        <div class="card-content">
                            <div class="center-align">
                                <img src="{% static 'imgs/core/buyer.png' %}" alt="">
                                <p class="text-0 white-text">Buyer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6" onclick="window.location='/auth/register'">
                    <div class="card z-depth-0">
                        <div class="card-content">
                            <div class="center-align">
                                <img src="{% static 'imgs/core/organizer.png' %}" alt="">
                                <p class="text-0  color-main">Organizer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="heading-main-helper-text grey-text text-lighten-2">
                We need to know your status to give you a user-friendly experience
            </p>
            <div class="cv">
                <p>
                    <a href="#" class="white-text" id="closerNextB"><i class="material-icons left">arrow_back</i> Back</a>
                    <a href="{% url 'auth:user_login' %}" class="right btn default-btn z-depth-0 waves-effect">Login Instead</a>
                </p>
            </div>
        </div>
    </div>
    <div class="nextSection">
        <center>
            <img src="{% static 'imgs/core/relax.svg' %}" class="responsive-img" style=" margin-top: 100px; width: 90%;" alt="">
        </center>
        <div class="main-mobile-content cx">
            <div class="heading-main">No more stress for tickets</div>
            <p class="heading-main-helper-text">
                Stress no more because now with Evesbay, you can get any ticket to all your favourite events with ease
            </p>
            <p>
                <a href="#" class="closerNextA"><i class="material-icons left">arrow_back</i> Back</a>
                <a href="#" class="right btn default-btn z-depth-0 waves-effect" id="nextSecX">Next</a>
            </p>
        </div>
    </div>
    <div class="IndexImg">
        {% include 'core-snippets/indexImg.html' %}
    </div>
    <div class="main-mobile-content cx">
        <br><br>
        <div class="heading-main">Designed and Built for All</div>
        <p class="heading-main-helper-text">
            Evesbay has a unique and very simple design which can be used by everyone on every device easily
        </p>
        <p>
            <a href="{% url 'auth:user_login' %}" class="x-link">Skip to Login >></a>
            <a href="#" class="right btn default-btn z-depth-0 waves-effect" id="nextSec">Next</a>
        </p>
    </div>
    <br>
</setion>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->