{% extends 'base.html' %} {% block content %}Ticket Bag page
<ul>
    <li>
        {{ticket.title}}
    </li>
</ul>

<label>What Fruit Do You Like Most?</label><br>
<form method="POST">{% csrf_token%}
    <select id="selFruit" name="ticket_type">
{% for t in ticket.ticketvariation_set.all %}
<option value="{{t.variation}}">{{t.variation}}</option>
{%endfor%}
</select> {{form}}
    <button type="submit">Add
        </button>
</form>

<a href="{{ticket.get_absolute_url}} ">view ticket</a>{% endblock content %}