{% extends 'base.html' %} {% block content %}Ticket Bag page
<ul>
    <li>
        {{ticket.title}}
    </li>
</ul>

<label>What Fruit Do You Like Most?</label><br>
<form method="POST">{% csrf_token%}
    <select id="selFruit" name="ticket_type">
{% for t in ticket.ticketvariation_set.all %}
<option value="{{t.variation}}">{{t.variation}}</option>
{%endfor%}
</select> {{form}}
    <button type="submit">Add
        </button>
</form>

<a href="{{ticket.get_absolute_url}} ">view ticket</a><br><br>
<br><br>
{% for obj in ticket.ticketitem_set.all %}
<a href="{{obj.remove_from_cart}} ">Remove -{{obj.ticket.title}}-{{obj.ticket_type}} * {{obj.quantity}}</a><br>
<a href="{{obj.update_ticket_item}} ">Edit - {{obj.ticket.title}}-{{obj.ticket_type}} * {{obj.quantity}}</a><br><br>
{% endfor %}
<a href="{% url 'ticket:ticket_bag_summary'%}">View your ticket bag</a><br><br>
{% endblock content %}
