{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Welcome to your #1 Ticketting PlatForm{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}

    <div class="padding-xs">
        <div class="main-mobile-content">
            <div class="heading-main">Saved Tickets</div>
            <br> {% for saved_ticket in saved_tickets %} {% for ticket in saved_ticket.ticket.all %}
            <div class="pad-x"></div>
            <div class="card z-depth-0">
                <div class="card-image">
                    <img src="{{ ticket.featured_image.url }}" class="suggested-img">
                </div>
                <div class="card-content-x">
                    <p class="suggested-date">{{ ticket.start_date_time.date }}</p>
                    <span class="suggested-title">{{ ticket.title }}</span>
                    <br><a href="{{ ticket.add_to_saved }}" class="btn btn-floating right white z-depth-0 sugg-fav" style="border: 1.4px solid var(--main-black)"><i class="material-icons color-main">close</i> Remove</a>
                    <a href="{{ticket.get_absolute_url}}" class="btn default-btn z-depth-0">Get Now</a>
                </div>
            </div>{% empty %} <br>
            <center>
                <img src="{% static 'imgs/core/emptybag.svg' %}" class="responsive-img" alt="">
            </center>
            <br>
            <div class="center-align">
                Sorry, You do not have any saved tickets<strong class="bold-text">{{ search }}</strong>.
                <br><br>
                <a href="{% url 'core:home' %}" class="btn default-btn waves-effect z-depth-0">Browse</a>
            </div>
            {% endfor %}{% empty %} <br>
            <center>
                <img src="{% static 'imgs/core/emptybag.svg' %}" class="responsive-img" alt="">
            </center>
            <br>
            <div class="center-align">
                Sorry, You do not have any saved tickets<strong class="bold-text">{{ search }}</strong>.
                <br><br>
                <a href="{% url 'core:home' %}" class="btn default-btn waves-effect z-depth-0">Browse</a>
            </div> {% endfor %}
        </div>
    </div>
    <br><br>
</setion>
{% include 'core-snippets/mobile-footer.html' %} {% endblock mobilecontent%}
<!-- Endblock mobile content  -->