{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Search{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">

    {% if user.is_authenticated %}

    <!-- Aunthenticated Header -->
    {% include 'core-snippets/header-authenticated.html' %}
    <!-- End of Aunthenticated Header -->

    <!-- Unauthenitcated Header -->
    {% else %}

    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated-x.html' %}
    <!-- End of Header -->
    {% endif %}

    <div class="padding-xs">
        <div class="main-mobile-content">
            <a class='dropdown-trigger right btn z-depth-0 white color-main' style="border: 1px solid var(--core-grey);" href='#' data-target='dropdown1'>Filter by</a>

            <ul id='dropdown1' class='dropdown-content z-depth-0' style="border: 1px solid var(--core-grey);">
                <li><a class="color-main" href="?query=">All</a></li>
                <li><a class="color-main" href="?query=concert">Concert</a></li>
                <li><a class="color-main" href="?query=party">Party</a></li>
                <li><a class="color-main" href="?query=gaming">Gaming</a></li>
            </ul>
            <div class="heading-main">Search Events</div>
            <form action="" method="GET">
                <div class="pad-x"></div>
                <p><input type="search" placeholder="Search Events Here ..." value="{{ search }}" name="query" autofocus autocapitalize="none" autocomplete="username"></p>
                <i class="material-icons searcher">search</i>
            </form>
            <div class="pad-x"></div>
            <!-- Search Results -->
            {% for obj in tickets %} {% if search %}Search Results For <strong class="bold-text">{{ search }}</strong>{% else %}{% endif %}
            <div class="pad-x"></div>
            <div class="card z-depth-0">
                <div class="card-image">
                    <img src="{{ obj.featured_image.url }}" class="suggested-img">
                </div>
                <div class="card-content-x">
                    <p class="suggested-date">{{ obj.start_date_time.date }}</p>
                    <span class="suggested-title">{{ obj.title }}</span>
                    <br><a href="{{ obj.add_to_saved }}" class="btn btn-floating right white z-depth-0 sugg-fav" style="border: 1.4px solid var(--main-black)"><i class="material-icons color-main">favorite_border</i></a>
                    <a href="{{obj.get_absolute_url}}" class="btn default-btn z-depth-0">Get Now</a>
                </div>
            </div>
            {% empty %}
            <br>
            <center>
                <img src="{% static 'imgs/core/notfound.svg' %}" class="responsive-img" alt="">
            </center>
            <br>
            <div class="center-align">
                Sorry, Nothing Found for <strong class="bold-text">{{ search }}</strong>.
            </div>
            {% endfor %}
            <!-- End of Search Results -->
        </div>
        <br><br>
        <br><br>
    </div>
</setion>
<!-- Footer -->
{% include 'core-snippets/mobile-footer.html' %}
<!-- End of footer -->
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->