@import './variables';
@import './abstracts';

/* Heading Section */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
    nav {
        background: transparent;
        padding-top: 5px;
        padding-bottom: 5px;
        a {
            .brand-logo {
                font-family: Default Font Bold;
                font-size: 20px;
                span {
                    font-family: Default Font Bold;
                    font-size: 20px;
                    color: $primary-color;
                }
                .brand-logo-img {
                    width: 110px;
                    padding-top: 5px;
                    object-fit: cover;
                }
            }
        }
        ul {
            li {
                a {
                    display: inline;
                    font-size: .9rem;
                    transition: 1s;
                    &:hover {
                        background: transparent;
                        color: #2c2c2c;
                    }
                    .br-right {
                        border-right: 1px solid #777777;
                    }
                }
            }
        }
    }
}


/* End of Heading Section */


/* Footer Section */

footer {
    background: $dark-bg;
    padding-top: 13vh;
    padding-bottom: 13vh;
}

.full-height {
    @include fullHeight();
}

.wrapper-x {
    .footer-heading {
        font-family: Default Font Bold;
        font-size: 20px;
        color: $white;
    }
    .footer-links-container {
        padding-top: 20px;
        .footer-link {
            display: block;
            font-size: .8rem;
            margin-bottom: 13px;
            transition: .3s;
            font-family: Regular Font;
            color: $light-grey;
            &:hover,
            &:focus {
                color: $primary-color;
            }
        }
    }
    .footer-bottom {
        padding-top: 4vh;
        margin-top: 10vh;
        border-top: .4px solid #2b2a2a;
        pl-0 {
            padding-left: 0;
        }
        .footer-c {
            font-size: .8rem;
            color: $light-grey;
        }
        .footer-d {
            font-size: .83rem;
            color: #525252;
            line-height: 25px;
            a {
                color: $black;
            }
        }
        .footer-social {
            color: $white;
            margin-left: 30px;
            transition: .3s;
            &:hover {
                color: $primary-color;
            }
        }
        .padd-t-4 {
            padding-top: 20px;
            .footer-bottom-link {
                margin-right: 40px;
                font-size: .8rem;
                color: #a3a3a3;
            }
            .contact-info {
                color: $white;
                font-size: .8rem;
                line-height: 30px;
            }
        }
    }
}


/* End of Footer Section */