$primary-color: #F47402;
$secondary-color: #325DF6;
$dark-bg: #1d1d1d;
$grey98: #FAFAFA;
$grey74: #BDBDBD;
$white: white;
$light-grey: #cecece;
$black: black;
$invalid: #EB5757;
$x-black: #2c2c2c;
$x-grey: #777777;