*,
input {
    font-family: Regular Font;
}

.bold-text {
    font-family: Regular Font SemiBold;
}

.invalidForm {
    border: 1px solid #EB5757;
}

input {
    border-bottom: none;
    border: none;
    height: 50px !important;
    padding-top: 20px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 1px 1px 10px 1px rgba(187, 187, 187, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.055) !important;
    border-radius: 5px;
    font-family: Regular Font Medium;
    text-indent: 20px;
    transition: 3.9s;
    font-size: .89rem !important;
    color: #4F4F4F
}

.btn {
    text-transform: capitalize;
    font-family: Regular Font;
}

img.login-svg {
    position: fixed;
    bottom: 0;
    width: 50%;
}

section.login-form-container {
    width: 100%;
    height: 100vh;
}

.activate {
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 500px;
    background-color: transparent;
    border: 3px solid #2F80ED;
    border-left-color: transparent;
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(360deg);
    }
}

section.login-form-container div.login-form-banner {
    width: 50%;
    height: 100%;
    background-color: #3F3D56;
    float: left;
}

a.backBtn {
    position: absolute;
}

section.login-form-container div.login-form-banner div.login-form-banner-content {
    padding: 4vh;
}

section.login-form-container div.login-form-banner div.login-form-banner-content div.section-x {
    height: 84vh;
    padding-top: 20%;
}

div.heading-banner {
    font-size: 3rem;
    font-family: Default Font Bold;
}

p.heading-banner-helper-text {
    margin-top: 0;
}

section.login-form-container div.login-form-box {
    width: 50%;
    height: 100vh;
    overflow: auto;
    float: right;
    padding-left: 9%;
    padding-right: 9%;
}

section.login-form-container div.login-form-box div.form-box {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 1px 1px 10px 1px rgba(187, 187, 187, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.055);
    width: 100%;
    position: relative;
}

section.login-form-container div.login-form-box div.form-box div.form-box-content {
    padding: 4vh;
}

img.form-img {
    width: 80px;
}

div.heading-form {
    font-size: 1.7rem;
    font-family: Default Font Bold;
}

p.heading-form-helper-text {
    margin-top: 0;
    font-size: .8rem;
}

a.form-btn {
    width: 100%;
    height: 50px;
    padding-top: 6px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 1px 1px 10px 1px rgba(187, 187, 187, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.055) !important;
    transition: .3s;
}

button.form-btn-submit,
a.form-btn-submit {
    height: 40px;
}

a.form-btn-submit {
    padding-top: 1px;
}

button.form-btn-submit:hover,
button.form-btn-submit:focus,
a.form-btn-submit:hover,
a.form-btn-submit:focus {
    background-color: transparent;
    border: 2.5px solid #2F80ED;
    color: #3F3D56;
    border-left-color: transparent;
}

a.form-btn:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.055) !important;
    background: #FAFAFA;
}

div.cotext-x {
    padding-top: 20px;
}

div.cotext-xs {
    padding-top: 40px;
}

i.passwordToggle {
    position: absolute;
    right: 6vh;
    cursor: pointer;
    transform: translateY(14px);
    font-size: 1.3rem;
}

div.form-field {
    margin-top: 20px;
}

a.lx-l {
    position: aboslute;
    transform: translateY(-35px);
    font-family: Regular Font SemiBold;
}

ul.errorlist li {
    font-size: 14px;
    color: #EB5757;
    font-family: Regular Font Medium;
}

span.helptext,
span.phone-field-ext,
input#id_phone_1,
input#id_password1,
input#id_password2,
label[for="id_password1"],
label[for="id_password2"],
a#backForm,
button#submitForm,
form ul li {
    display: none;
}

form ul.errorlist li {
    display: block !important;
}

.mt-x {
    padding-top: 3px;
}