/*** iPhone and iOS Form Input Zoom Fixes ***/


/* Fix Input Zoom on devices older than iPhone 5: */

html {
    scroll-behavior: smooth;
}

body {
    background: fdfdfd;
}

@media screen and (device-aspect-ratio: 2/3) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="search"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 14px;
    }
}


/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */

@media screen and (device-aspect-ratio: 40/71) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="email"],
    input[type="url"] {
        font-size: 14px;
    }
}


/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */

@media screen and (device-aspect-ratio: 375/667) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="email"],
    input[type="url"] {
        font-size: 14px;
    }
}


/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */

@media screen and (device-aspect-ratio: 9/16) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="search"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 14px;
    }
}

:root {
    --main-black: #3F3D56;
    --core-color: #4F4BFF;
    --main-grey: #636275;
    --core-grey: #f3f3f3;
    --core-black: rgb(190, 190, 190);
    --core-red: #fd6161;
    --core-green: #4ecf84;
    --main-orange: #F47402;
    --core-gradient: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .83), rgba(0, 0, 0, .8), rgba(0, 0, 0, .8), rgba(0, 0, 0, 1));
}

input,
textarea,
select {
    height: 50px !important;
    padding-top: 20px;
    box-shadow: -3px -3px 4px #ffffff73, 1px 1px 7px 2px rgba(156, 166, 184, 0.288) !important;
    border-radius: 0px !important;
    font-family: Regular Font Medium;
    text-indent: 12px;
    transition: 3.9s;
    font-size: .89rem !important;
    color: #4F4F4F !important;
    -webkit-appearance: none !important;
}

#id_quantity {
    width: 30px !important;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    height: 45px !important;
}

.ticket-counter:hover,
.ticket-counter:focus,
.ticket-counter {
    width: 32px !important;
    height: 32px !important;
    padding-left: 12px;
    font-size: 12px;
    font-weight: bolder;
    transform: translateX(-25px);
    padding-top: 0 !important;
    z-index: 1000;
    position: absolute;
    border-radius: 400px;
    color: black;
    background: var(--main-orange);
}

.quan {
    height: 45px;
    width: 45px;
    border-radius: 0 !important;
    text-align: left;
    padding-top: 2px !important;
    padding-left: 13px !important;
}

.ticket-cart-img {
    width: 100% !important;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.xl-4 {
    transform: translateX(-10px);
}

.deadline {
    padding: 10px;
    position: absolute;
    font-family: Default Font Bold;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    z-index: 100;
    background: var(--main-black);
}

.passwordToggle {
    position: absolute;
    right: 40px;
    color: var(--main-black);
    transform: translateY(-60px);
    transition: .3s;
}

.network-box,
.network-box-x {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 15px;
    top: 0;
    background: var(--core-red);
    color: white;
    animation-name: messageBox;
    animation-duration: 1s;
    left: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 1px 1px 40px 1px rgba(0, 0, 0, .3);
    right: 0;
    text-align: center;
    display: none;
    margin: 0 auto;
    animation-iteration-count: 1;
}

.network-box-x {
    background: var(--core-green);
}

.qr-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.chip-x {
    padding: 7px;
    border-radius: 3px;
    position: relative;
    color: white;
    background-color: var(--main-orange);
    font-family: Default Font Bold;
}

.xsv {
    transform: translateY(-155px);
}

.xsvx {
    transform: translateY(-250px);
}

input[type="password"] {
    letter-spacing: 4px;
    font-weight: bolder;
}

::placeholder {
    color: var(--main-black);
}

textarea {
    height: 100px !important;
    outline: none !important;
    border-radius: 0 !important;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 10px 0 inset rgba(156, 166, 184, 0.288) !important;
}

ul.errorlist.nonfield li {
    font-size: 12px;
    line-height: 24px;
    color: var(--core-red);
}

p.form-x-text {
    font-family: Default Font;
}

.x-coverlay {
    width: 100%;
    height: 300px;
    background: var(--core-gradient);
    position: absolute;
}

p.form-x-text a {
    font-family: Regular Font SemiBold;
    color: var(--core-color);
}

form p span.helptext,
form ul li,
input#id_phone_1,
label[for="id_logo"],
p.Logo,
span.phone-field-ext {
    display: none;
}

form ul.errorlist li {
    display: block;
    font-size: 13px;
    color: var(--core-red);
}

.bold-text {
    font-weight: bolder;
}

.pad-x {
    height: 10px;
}

.searcher {
    position: absolute;
    right: 35px;
    transform: translateY(-60px);
}

.mobile-preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: var(--main-black);
    z-index: 400;
    padding-top: 60%;
}

.preder {
    width: 80px;
    height: 4px;
    border-radius: 300px;
    top: 50%;
    background: white;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.preder-content {
    width: 80px;
    height: 4px;
    background: grey;
    border-radius: 200px;
}

.bg-main {
    background: var(--core-color);
}

.color-main {
    color: var(--main-black) !important;
}

.text-0 {
    font-family: Regular Font SemiBold;
    padding-top: 4px;
}

p.text-0 {
    font-family: Main Font !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.btn {
    text-transform: capitalize;
}

* {
    font-family: Regular Font;
}

img.person-outline {
    transform: translateY(5px);
}

.closerNextA,
#closerNextB {
    display: block;
    float: left;
    padding-top: 7px;
    color: var(--main-black);
    font-family: Default Font Bold;
}

header nav.mobile-nav {
    padding-top: 7px;
    height: 65px;
    position: fixed;
    z-index: 201;
}

.menu-btn,
.menu-btn-x {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-18px, -16px);
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: .3s;
}

.menu-btn-burger,
.menu-btn-burger-x {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 10px;
    background: var(--main-black);
    transition: .3s;
}

.menu-btn-burger::before,
.menu-btn-burger::after,
.menu-btn-burger-x::before,
.menu-btn-burger-x::after {
    content: '';
    transition: .3s;
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background: var(--main-black);
}

.menu-btn-burger::before,
.menu-btn-burger-x::before {
    transform: translateY(-10px);
}

.menu-btn-burger-x::after,
.menu-btn-burger::after {
    transform: translateY(10px);
}

.cx {
    position: absolute;
    bottom: 0px;
}

.cv {
    position: absolute;
    width: 88%;
    bottom: 20px;
}

.IndexImg {
    position: absolute;
    width: 100%;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.IndexImgX {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.nextSection {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: white;
    transition: .7s;
    z-index: 10;
    transform: translateX(100%);
}

.nextSectionX {
    width: 100%;
    padding-top: 60px;
    transform: translateX(100%);
    height: 100%;
    position: fixed;
    z-index: 502;
    background: var(--main-black);
    top: 0;
    transition: .7s;
}

div.padding-x {
    width: 100%;
    height: 375px;
}

div.padding-xs {
    padding-top: 80px;
}

div.main-mobile-content {
    padding: 27px;
    padding-top: 0;
    background: #fdfdfd;
}

.heading-helper {
    color: var(--main-grey);
}

.heading-helper-text-x {
    font-size: 12px;
    line-height: 25px;
}

div.heading-main {
    font-family: Main Font;
    font-size: 1.7rem;
    color: var(--main-black);
}

p.heading-main-helper-text {
    line-height: 25px;
    color: var(--main-black);
}

.default-btn,
.default-btn-xs,
.default-btn-xs:focus,
.default-btn-xs:focus::after {
    border-radius: 50px;
    font-family: Regular Font SemiBold;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    background: var(--core-color);
}

.default-btn-small {
    border-radius: 50px;
    font-family: Regular Font ExtraBold;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    color: black;
    -webkit-appearance: none;
    background: var(--main-orange);
}

.stress {
    width: 170px;
}

#head {
    animation-name: headerxx;
    animation-duration: 5s;
    transform-box: fill-box;
    transform-origin: center;
    animation-iteration-count: infinite;
}

#straw {
    animation-name: headerxx;
    animation-duration: 4s;
    transform-box: fill-box;
    transform-origin: center;
    animation-iteration-count: infinite;
}

.mobile-content {
    z-index: 10;
    background: white;
}

.brw-img {
    width: 90px !important;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(16px);
}

.shadow-x {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 1px 1px 15px 1px rgba(0, 0, 0, .1);
}

footer.mobile-footer {
    width: 100%;
    padding: 10px;
    background: var(--main-black);
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.banner-section {
    width: 100%;
    padding: 20px 10px;
    background: rgb(34, 35, 47);
    text-align: center;
    font-family: Default Font Bold;
    font-size: 16px;
    border-radius: 5px;
}

.default-btn-sugg {
    border-radius: 50px;
    font-family: Regular Font ExtraBold;
    padding-left: 12px;
    position: absolute;
    z-index: 10;
    margin-left: 8px;
    margin-top: 20px;
    padding-right: 12px;
    font-size: 12px;
    color: black;
    -webkit-appearance: none;
    background: var(--main-orange);
}

.default-btn:focus {
    background: #000 !important;
    color: white !important;
}

.default-btn-small:focus {
    font-size: 0 !important;
    width: 30px !important;
    color: transparent !important;
    height: 30px !important;
    background: transparent !important;
    border: 3px solid var(--main-orange) !important;
    border-left: none !important;
    border-right: none !important;
    animation-name: rotator !important;
    animation-duration: .3s !important;
    animation-iteration-count: infinite !important;
}

.x-link {
    display: block;
    float: left;
    padding-top: 7px;
    color: var(--main-black);
    font-family: Default Font Bold;
}

.person-outline-container {
    width: 35px;
    height: 35px;
    border-radius: 500px;
    border: 1px solid var(--main-black) !important;
    position: relative;
    transform: translateY(10px);
}

.person-outline-x {
    width: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.sidebar {
    width: 200px;
    z-index: 1000;
    height: 100%;
    position: fixed;
    transition: .5s;
    transform: translateX(-200px);
    background: var(--main-black);
    z-index: 200;
}

.sidebar-content {
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar-link {
    display: block;
    color: white;
    padding-bottom: 25px;
    font-family: Default Font Bold;
}

.full-width-btn {
    width: 100%;
    height: 45px;
    box-shadow: -3px -3px 4px #ffffff73, 1px 1px 7px 2px rgba(156, 166, 184, 0.288) !important;
    padding-top: 3px;
    font-family: Default Font Bold;
    color: var(--main-black);
}

.full-width-btn:focus {
    box-shadow: 0 0 10px 0 inset rgba(156, 166, 184, 0.288) !important;
    background: black;
}

img.google-img {
    width: 20px;
    padding-top: 7px;
}

.heading-main-x {
    font-family: Main Font;
    color: var(--main-black);
}

.small-t-x {
    font-size: 14px !important;
    transform: translate(-10px, 3px);
}

.profile-img-cover {
    width: 100% !important;
}

.x-t {
    font-family: Default Font Bold;
}

#gearX {
    animation-name: rotator;
    transform-box: fill-box;
    transform-origin: center;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.user-name {
    font-family: Main Font;
    text-transform: capitalize;
    font-size: 18px;
}

div#id_password strong,
p.Profile.image,
input[type="file"],
p.Password label {
    display: none;
}

.upload-image-overlay {
    width: 100%;
    height: 100px;
    margin-top: -40px;
    position: relative;
    margin-bottom: 235px;
}

.upload-image-content {
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    width: 100% !important;
    margin: 0 auto;
}

.user-email {
    font-size: 13px;
    font-family: Regular Font Medium;
    color: var(--main-grey);
}

.profile-det {
    position: absolute;
    left: 25px;
    transform: translateY(-70px);
}

.profile-img {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 25px;
    top: 90px;
    bottom: 0;
    margin: 0 auto;
    border-radius: 100%;
    object-fit: cover;
}

.profile-img-x {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 25px;
    transform: translateY(50px);
    border-radius: 100%;
    object-fit: cover;
}

.messageBox {
    width: 90%;
    padding: 15px;
    z-index: 601;
    background: white;
    margin-left: 5%;
    font-family: Regular Font Medium;
    font-size: 13px;
    text-align: center;
    z-index: 1400;
    transition: .7s;
    top: 48%;
    position: fixed;
    color: var(--main-black);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 1px 1px 20px 1px rgba(0, 0, 0, .2) !important;
    animation-name: messageBox;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.messageBox-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--main-black);
    transition: .7s;
    z-index: 600;
}

.messageCloser {
    position: fixed;
    bottom: 40px;
    left: 47%;
    right: 0;
    background: var(--main-orange);
    font-size: 30px;
}

.messageCloser:focus {
    background: black;
}

.sugg-img-ex {
    width: 95px !important;
    height: 85px !important;
    object-fit: cover;
    border-radius: 5px !important;
    margin-right: 10px;
}

.sugg-date-ex {
    font-family: Default Font Bold;
    color: var(--main-orange);
}

.sugg-title-ex {
    font-family: Main Font;
    margin-top: 3px;
    color: var(--main-black);
    margin-bottom: 4px;
}

.sugg-organizer-ex {
    color: var(--main-grey);
    font-size: 13px;
}

#paper {
    animation-name: email;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#animateO {
    animation-name: animateO;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#animateThreeX {
    animation-name: animateThree;
    animation-duration: 3s;
    transform-origin: center;
    transform-box: fill-box;
    animation-iteration-count: infinite;
}

.shoppingBag,
.tickets {
    width: 25px;
    transform: translateY(5px);
}

.user-profile-image {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    object-fit: cover;
}

.tickets-x {
    width: 25px;
    margin-right: 25px;
    transform: translateY(6px);
}

.most-featured-content {
    padding: 25px;
    padding-top: 0;
    padding-right: 0;
    margin-top: -20px;
}

.x-core {
    height: 320px;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
}

.x-core-overlay {
    width: 100%;
    height: 320px;
    position: absolute;
    border-radius: 5px;
}

.x-core-content {
    position: absolute;
    width: 100%;
    height: 320px;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    background: var(--core-gradient);
    padding-top: 5px;
}

.x-core-date {
    color: var(--main-orange);
    font-family: Default Font Bold;
}

.x-core-title {
    font-family: Main Font;
    font-size: 1.5rem;
    line-height: 35px;
    color: white;
}

.x-core-organizer {
    color: var(--core-grey);
    font-size: 13px;
}

.cate-chip {
    padding: 2px 12px;
    color: white;
    font-family: Default Font;
    transform: translateY(-3px);
    background: black;
    border-radius: 30px;
}

.chip-xs {
    display: block !important;
    border-right: 1px solid var(--main-black);
    padding-right: 2px;
}

.x-core-actions {
    position: absolute;
    bottom: 20px;
    width: 85%;
}

.xs-link {
    color: var(--main-orange);
    transform: translateY(5px);
}

img.featured-img {
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.featured-overlay {
    width: 100%;
    height: 150px;
    background: var(--core-gradient);
    position: absolute;
    border-radius: 5px;
}

.featured-content {
    position: absolute;
    background: var(--x-gradient);
    width: 100%;
    height: 150px;
    padding: 10px;
}

.featured-title {
    font-family: Main Font;
    color: white;
    line-height: 25px;
}

.featured-actions {
    position: absolute;
    bottom: 10px;
    width: 85%;
}

.featured-organizer {
    color: var(--core-grey);
    font-size: 10px;
    margin-top: 1px;
}

img.suggested-img {
    height: 200px !important;
    object-fit: cover !important;
}

.suggested-title {
    font-family: Main Font;
    font-size: 20px;
    color: var(--main-black);
    display: block;
    margin: 0;
}

.sugg-fav {
    color: var(--main-black) !important;
    z-index: 10;
}

.suggested-date {
    font-family: Default Font Bold;
    color: var(--main-orange);
    font-size: 15px;
    margin: 10 0px;
}

.bg-main {
    background: var(--main-black) !important;
}

.bg-main-x {
    background: var(--main-grey) !important;
}

.ticket-det-img {
    width: 100% !important;
    height: 320px !important;
    object-fit: cover;
}

.ticket-title {
    font-family: Main Font;
    font-size: 20px;
    padding-top: 13px;
}

.bg-ora {
    background: var(--main-orange);
}

.tit-actions {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    z-index: 16;
    box-shadow: 0 0 0 rgba(0, 0, 0, .3), 1px 1px 10px 1px rgba(0, 0, 0, .1);
}

.tit-actions-content {
    padding: 25px;
}

.ticket-organizer {
    color: var(--main-orange);
    font-family: Regular Font Medium;
    font-size: 13px;
    margin-top: 3px;
}

.xl-1 {
    position: absolute;
    left: 10px;
}

.xl-2 {
    position: absolute;
    left: 25%;
}

.small-t {
    font-size: 15px !important;
    padding-top: 3px;
}

.xl-3 {
    position: absolute;
    left: 55%;
}

.ticket-x-t {
    font-family: Default Font Bold;
    display: inline-block;
    padding-top: 10px;
    color: var(--main-black);
}

.ticket-x {
    margin-top: 4px;
}

.price-box {
    position: absolute;
    bottom: 117px;
    left: 35%;
    font-family: Main Font;
    color: white;
    font-size: 20px;
    right: 0;
    margin: 0 auto;
}

.total-cost {
    padding: 0;
    margin-top: -50px;
    width: 100% !important;
    position: relative;
}

.profile-nav,
.profile-nav-x {
    width: 100% !important;
    display: block;
}

.profile-nav-link {
    display: block;
    width: 100% !important;
    color: var(--main-grey);
    padding: 20px;
    background: white;
}

.sales-img-container {
    width: 25%;
    height: 100px;
    float: left;
}

.sales-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: cover;
}

.sales-history-container {
    width: 100%;
    height: 100px;
}

.bg-core,
.bg-core:focus {
    background: var(--core-color);
}

.sales-img-overlay {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #FFDFBA;
    padding: 10px;
}

.sales-det-container {
    width: 50%;
    height: 80px;
    float: left;
}

.sales-name,
.sales-amount {
    font-family: Default Font Bold;
    font-size: 16px;
    padding-top: 3px;
}

.sales-amount {
    color: var(--core-color);
}

.sales-status {
    margin-top: 5px;
    color: var(--main-grey);
}

.price-content-wrapper {
    width: 85%;
    height: 180px;
    position: absolute;
    z-index: 1;
}

.price-content {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: Default Font Bold;
    color: #fff;
    font-size: 30px;
    top: 70px;
    margin: auto;
}


/* ANIMATIONS */

@keyframes rotator {
    from {
        transform: rotateZ(360deg);
    }
}

@keyframes loader {
    0% {
        width: 0px;
    }
    30% {
        width: 30px;
    }
    50% {
        width: 40px;
    }
    100% {
        width: 80px;
    }
}

.menu-btn.openMenu .menu-btn-burger {
    transform: translateX(-50px);
    background: white;
}

.menu-btn.openMenu .menu-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: white;
}

.menu-btn.openMenu .menu-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: white;
}

#handX {
    animation-name: handOne;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#handY {
    animation-name: handTwo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#headOne,
#headTwo,
#headX {
    animation-name: headOne;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: fill-box;
}

.sidebar.openSidebar {
    transform: translateX(0);
}

@keyframes handOne {
    0% {
        transform: rotateZ(0deg)
    }
    50% {
        transform: rotateZ(6deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes handTwo {
    0% {
        transform: rotateZ(0deg)
    }
    50% {
        transform: rotateZ(-2deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes headOne {
    0% {
        transform: rotateZ(0deg)
    }
    50% {
        transform: translateX(-2px) rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes messageBox {
    from {
        transform: rotateX(90deg) translateY(-50px);
    }
}

@keyframes email {
    0% {
        transform: translateY(00px);
    }
    20% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animateThree {
    0% {
        transform: rotateZ(-360deg) scale(1);
    }
    50% {
        transform: scale(1.1);
        opacity: .9;
    }
}

@keyframes animateO {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    70% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes headerxx {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-5deg);
    }
    100% {
        transform: rotateZ(0);
    }
}