{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Reset Password Complete{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">
    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated.html' %}
    <!-- End of Header -->

    <div class="padding-xs"></div>
    <div class="main-mobile-content">
        <div class="heading-main">Reset Completed</div>
        <span class="heading-helper">Password Reset Complete</span>
        <br><br>
        <p class="heading-helper-text-x">Congratulations. You have sucessfully changed your passsword. You can now return to login and use your current password.</p>
        <a href="{% url 'auth:user_register' %}" class="x-link">Create Account</a>
        <a href="{% url 'auth:user_login' %}" class="right btn waves-effect default-btn z-depth-0">Login</a>
        <br><br><br><br>
        <center>
            <div class="mailc">
                {% include 'core-snippets/complete.html' %}
            </div>
        </center>
    </div>
</setion>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->