{% extends 'base.html' %}
<!-- TItle Content -->
{% block titlecontent %}Evesbay - Reset Your Password{% endblock titlecontent %}
<!-- Mobile Content  -->
{% block mobilecontent %}
<!-- Load Static Files -->
{% load static%}
<setion class="mobile-content">
    <!-- Sidebar -->
    {% include 'core-snippets/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Header -->
    {% include 'core-snippets/header-not-authenticated.html' %}
    <!-- End of Header -->

    <div class="padding-xs"></div>
    <div class="main-mobile-content">
        <div class="heading-main">Reset Password</div>
        <span class="heading-helper">Struggling to remember your password</span>
        <br><br>
        <p class="heading-helper-text-x">Provide the email associated with your account. You would be notified with a link. Follow link to reset your password
        </p>
        <form method="POST">
            <!-- Form Token -->
            {% csrf_token %}
            <!-- End of Form Token -->
            {{ form.as_p }}
            <a href="{% url 'auth:user_login' %}" class="x-link">Return To Login</a>
            <button type="submit" class="right btn waves-effect default-btn z-depth-0">Reset</button>
            <br><br><br>
            <p class="form-x-text">I don't have an account. <a href="{% url 'auth:user_register' %}">Get One</a> Free Today.</p>
        </form>
    </div>
</setion>
{% endblock mobilecontent%}
<!-- Endblock mobile content  -->